// SETTINGS
html{
  overflow: hidden;
}
// TOOLS

// GENERIC

// @import 'generic/normalize';

@font-face {
  font-family: 'Open-Sans';
  src: url('~/assets/font/OpenSans.eot');
  src: url('~/assets/font/OpenSans.eot?#iefix') format('embedded-opentype'),
      url('~/assets/font/OpenSans.woff2') format('woff2'),
      url('~/assets/font/OpenSans.woff') format('woff'),
      url('~/assets/font/OpenSans.ttf') format('truetype'),
      url('~/assets/font/OpenSans.svg#OpenSans-Regular') format('svg');
}

// ELEMENTS

// OBJECTS

// COMPONENTS
.lora{
  font-family: Lora;
}
// UTILITIES

