[class^="btn"]{
  min-width: em(64px);
  margin: em(6px) em(8px);
  background-color: transparent;
  border:none;
  border-radius: em(8px);
  transition: all .25s ease-in;
  padding: 0;
  color: var(--text-primary);
  text-decoration: none;
  position: relative;
  box-shadow: 0 2px  4px 0 rgba(0, 0, 0, .2);
  overflow: hidden;
}

.btn, .btn--flat{
  &__text{
    z-index: 10;
    margin: 0;
    box-shadow: none;
    width: 100%;
    height: em(36px);
    line-height: em(36px);
    padding: 0 em(16px);
    color: inherit;
    transition: all .25s ease-in;
    &:hover{
      color: var(--text-primary-light);
    }
  }
  &:hover{
    box-shadow: 0 4px  8px 0 rgba(0, 0, 0, .4);
    border: none;
  }
  &:before,
  &:after{
    content: '';
    display: block;
    width: 120%;
    height: 120%;
    top: -10%;
    position: absolute;
    transition: all .25s ease-in;
  }
  &:before{
    left: -140%;
    background-color: var(--assent);
    transform: skew(50deg);
  }
  &:after{
    right: -140%;
    background-color: var(--assent);
    transform: skew(50deg);
  }
  &:hover:before{
    left: 0;
  }
  &:hover:after{
    right: 0;
  }
  &:focus{
    outline: 0;
    background-color: rgba(128, 128, 128, 0.4);
  }

}
.btn{
  border: solid em(1.5px) currentColor;
}
.btn--flat{
  box-shadow: none;
}
// .btn{
//     border: solid em(1.5px) currentColor;
//     display: inline-flex;

//     &__text{
//       z-index: 10;
//       margin: 0;
//       box-shadow: none;
//       width: 100%;
//       height: em(36px);
//       line-height: em(36px);
//       padding: 0 em(16px);
//       color: inherit;
//       transition: all .25s ease-in;
//       &:hover{
//         color: var(--text-primary-light);
//       }
//     }
//     &:hover{
//       box-shadow: 0 4px  8px 0 rgba(0, 0, 0, .4);
//       border: none;
//     }
//     &:before,
//     &:after{
//       content: '';
//       display: block;
//       width: 120%;
//       height: 120%;
//       top: -10%;
//       position: absolute;
//       transition: all .25s ease-in;
//     }
//     &:before{
//       left: -140%;
//       background-color: var(--assent);
//       transform: skew(50deg);
//     }
//     &:after{
//       right: -140%;
//       background-color: var(--assent);
//       transform: skew(50deg);
//     }
//     &:hover:before{
//       left: 0;
//     }
//     &:hover:after{
//       right: 0;
//     }
//     &:focus{
//       outline: 0;
//       background-color: rgba(128, 128, 128, 0.4);
//     }
//     &-accent{
//       background-color: var(--assent);
//       color: var(--text-primary-light);
//       border: none;
//       &:hover{
//         box-shadow: 0 4px  8px 0 rgba(0, 0, 0, .4);
//       }
//       &:focus{
//       }
//     }
//     &-flat{
//       background-color: transparent;
//       box-shadow: none;
//       &:hover{
//         box-shadow: 0 4px  8px 0 rgba(0, 0, 0, .4);
//         color: aliceblue;
//       }
//       &:before,
//       &:after{
//         content: '';
//         display: block;
//         width: 120%;
//         height: 120%;
//         top: -10%;
//         position: absolute;
//         transition: all .25s ease-in;
//       }
//       &:before{
//         left: -140%;
//         background-color: var(--assent);
//         transform: skew(50deg);
//       }
//       &:after{
//         right: -140%;
//         background-color: var(--assent);
//         transform: skew(50deg);
//       }
//       &:hover:before{
//         left: 0;
//       }
//       &:hover:after{
//         right: 0;
//       }
//       &:focus{
//         outline: 0;
//         background-color: rgba(128, 128, 128, 0.4);
//     }
//     }
//     &-icon{
//       &:hover{
//       }
//       &:focus{
//       }
//     }
//     &-circle{
//       background-color: var(--assent);
//       min-width: em(54px);
//       height: (54px);
//       border-radius: em(27px);
//       &:hover{
//         box-shadow: 0 4px  8px 0 rgba(0, 0, 0, .4);
//       }
//       &:focus{
//       }
//     }
// }
// .hover{

// }

