// Color de la tipografia
// Fondos de color

.text__primary-light{
  color: var(--text-primary-light);
}
.text__secundary-light{
  color: var(--text-secundary-light);
}

// En fondo Blanco

.text__primary{
  color: var(--text-primary);
}
.text__secundary{
  color: var(--text-secundary);
}

// Font-weight peso de la tipografia

.regular {
  font-weight: 400;
}

// Tipografia con el tamaño base desde el nodo principal

:root{
  font-family: Open-Sans;
  font-size: rem(14px);
  letter-spacing: em(0.5px);
  color: var(--text-primary);
  @extend .regular;
  @extend .text__primary;
  @media screen and (min-width: 425px) {
    font-size: rem(16px);
  }
}

// Reset para el margin de las cabeceras

.margin__text-reset{
  margin-top: 0;
  margin-bottom: 10px;
}

// Familia tipgrafica de las cabeceras

.lora{
  font-family: Lora;
}

// Ttipografia de los encabezados

.t1{
  font-size: rem(64px);
  font-weight: 200;
  letter-spacing: em(-0.4px);
  @extend .margin__text-reset;
  @extend .lora;
  @extend .text__secundary;
}
.t2{
  font-size: rem(48px);
  letter-spacing: em(-0.2px);
  @extend .margin__text-reset;
  @extend .lora;
  @extend .regular;
  @extend .text__secundary;
}
.t3{
  font-size: rem(32px);
  @extend .margin__text-reset;
  @extend .lora;
  @extend .regular;
  @extend .text__secundary;
}
.t4{
  font-size: rem(26px);
  font-weight: 500;
  letter-spacing: em(1.2px);
  @extend .margin__text-reset;
  @extend .lora;
  @extend .text__primary;
}
.t5{
  font-size: rem(24px);
  @extend .regular;
  @extend .margin__text-reset;
  @extend .lora;
  @extend .text__primary;
}
.t6{
  font-size: rem(18px);
  @extend .regular;
  @extend .margin__text-reset;
  @extend .lora;
  @extend .text__primary;
}

// Tipografia de los botones

[class^="btn"]{
  font-size: rem(14px);
  letter-spacing: em(1.2px);
  text-transform: uppercase;
  font-weight: 600;
}

// Tipografia para los caption

.caption{
  font-size: rem(12px);
  @extend .regular;
  @extend .margin__text-reset;
  @extend .text__secundary;
}
