:root{

  // Colores del principales del tema para la app

  --primary: #4caf50;
  --dark-primary: #00796B;
  --secundary: #448AFF;
  --dark-secundary: #2637A7;

  // Color para asentuar elementos

  --assent: #E64A19;

  // Colores para el manejo de eventos

  --warning: #FBC02D;
  --error: #F44336;
  --success: #388E3C;

  // Colores para el texto

  --text-primary: #141618;
  --text-secundary: #717274;

  // --gradient: linear-gradient(to left top, rgb(76,175,80) 1%,rgb(46,154,91) 38%,rgb(0,121,107) 100%);
}
